<div class="container" style="position: relative; top: 40px;">
    <div class="row" style="background-color: rgba(160, 160, 160, 0.48)">
        <div class="col-md-4" style="height: 300px;border:rgba(70, 70, 70, 0.66) 3px solid">
            <h2 style="text-align: center; margin-top: 30px;">Kết Nối</h2><br>
            <a href="#" class="sb gradient glossy light-blue twitter"style="margin-left: 30px"></a><a href=""style="font-size: 18pt;margin-left: 20px">Twitter</a><br><br>
            <a href="#" class="sb gradient glossy blue facebook"style="margin-left: 30px"></a><a href=""style="font-size: 18pt;margin-left: 20px">Facebook</a><br><br>
            <a href="#" class="sb gradient glossy red youtube"style="margin-left: 30px"></a><a href=""style="font-size: 18pt;margin-left: 20px">Youtube</a><br><br>
        </div>
        <div class="col-md-4 hidden-xs" style="height: 300px;border:rgba(70, 70, 70, 0.66) 3px solid"">
            <h2 style="text-align: center">Liên Kết Hợp Tác</h2>

        </div>
        <div class="col-md-4 container" style="height: 300px;border:rgba(70, 70, 70, 0.66) 3px solid"">
            <h2 style="text-align: center">Top Từ Khóa</h2><br>

            <a href=""style="font-size: 15pt">vo nguoi ta</a>, <a href=""style="font-size: 15pt">am tham ben em</a>, <a href=""style="font-size: 15pt">see you again</a>, <a href=""style="font-size: 15pt">em cua ngay hom qua</a>, <a href=""style="font-size: 15pt">the remix</a>, <a href=""style="font-size: 15pt">son tung</a>, <a href=""style="font-size: 15pt">top viet nam</a>
            ,

        </div>
    </div>
    <hr>
</div>
<div class="container-fluid" style="position: relative; top: 40px">
    <div class="row" style="height: 100px;margin-top: -30px;background-color: rgba(52, 52, 52, 0.8)">
       <div class="col-xs-4"><img src="" style="background-color: rgba(45, 51, 193, 0.65); width: 150px; height: 100px;float: left;margin-right: 40px"></div>
       <div class="col-xs-5">
           <p class="hidden-xs" style="font-size: 20pt; padding-top: 30px">Copyright2015&copy:Lê Văn Tú &Đặng Ngọc Vũ.</p>
           <p class="hidden-md hidden-lg" style="text-align: center; margin-left: 30px">Copyright2015&copy:Lê Văn Tú &Đặng Ngọc Vũ.</p>
       </div>
    </div>
</div>