<div class="container-fluid" style="margin-left: 10px">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"style="padding: 0px;margin-right: 20px"><img style="width: 148px;height: 100%" src="images/Logo/logo3.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li style="background-color: rgba(132, 132, 132, 0.55)"><a href="#" style="color: #0f0f0f; font-size: 15pt">Nhạc</a></li>
                <li><a href="#"style="font-size: 15pt">TV</a></li>
            </ul>

            <ul id="login"class="nav navbar-nav navbar-right">
                <li class="nho"><a href="javascript:"><span class="glyphicon glyphicon-log-in"></span> Đăng Nhập</a></li>
                <li><a href="dangki.html"><span class="glyphicon glyphicon-user"></span> Đăng Kí</a></li>

            </ul>
            <ul id="user"class="nav navbar-nav navbar-right">
                <div class="dropdown ">
                    <button class="btn btn-success dropdown-toggle namesong"type="button" data-toggle="dropdown"><p id="dangnhap" >Dropdown Example</p>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        <li><a href="userPage.html">My Playlist</a></li>
                        <li><a href="#"id="signout">Sign Out</a></li>

                    </ul>
                </div>


            </ul>
            <div class=" hidden-md col-xs-12 col-md-7 col-lg-7" style="    margin-top: 10px;">
                <form class="form-inline" role="form" style=" margin-top: 5px;width: 60%; margin: auto; text-align: center;">
                    <div class="input-group col-xs-12"style="white-space: nowrap;">
                        <label class="sr-only" for="email">Tìm kiếm</label>
                        <input type="email" class="form-control" id="email" style="width:65%">
                        <button type="submit" class="btn btn-default"style="width: 30%">Search</button>
                    </div>


                </form>
            </div>
        </div>

    </div>

    </nav>



    </div>
<div class="khungdn"style="width: 100%">
    <div class="col-lg-4"></div>
    <div class="dangnhap col-lg-4 col-xs-12">


        <div class="col-md-12"style="margin: auto">
            <h3>Đăng Kí Tài Khoản</h3>
            <form  class="form-horizontal" role="form">

                <div class="form-group">
                    <label>User:</label>
                    <input id="username"name="username" type="text" class="form-control" placeholder="Tên Đăng Nhập">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input id="password"type="password" class="form-control" id="pw" placeholder="Mật Khẩu"required>
                </div>


                <button id="button" type="submit" class="btn btn-success"style="margin-top: 5px;margin-left: 33%;">Đăng Nhập</button>
                <button id="cancel"type="reset" class="btn btn-success" style="margin-top: 5px">Cancel</button>
            </form>
            <br><br>
        </div>
    </div>
</div>
<div class="den"style="background-color: rgba(53, 53, 53, 0.82); position: absolute; width: 100%; height:1000px">



</div>


<script>

    if(localStorage['username']!=null)
         var username=localStorage.getItem('username');
    $(document).ready(function(){
        $('#dangnhap').html('<p style="font-size: 18pt">'+username+'</p>');
        $('#signout').click(function(){

            username='';
            localStorage["username"] = JSON.stringify(username);

          //  var url1 =window.location;

            window.location.href= 'index.html';




        });
    });
    $("#button").click(function(){
        var u = $("#username").val();

        var p = $("#password").val();
        // Gọi hàm login ở file users.js

        var result = login(u, p);
        if (result === true) {
            swal("Thông báo", "Đăng nhập thành công", "success");
            // LUU VAO SESSION / LOCAL STORAGE
            // Session Storage
            localStorage.setItem("username", u);
            window.location.href = "index.html";
        }
        else {
            swal("Thông báo", "Đăng nhập không thành công", "error");
        }

        // không làm gì nữa
        return false;
    });

</script>
<script>
    $(document).ready(function(){
        $('#login').show();
        $('#user').hide();
        if(username!=null&&username.length>=4){
            $('#login').hide();
            $('#user').show();
        }
            $('.khungdn').hide();
            $('.nho').click(function () {
                $('.den').toggleClass('hienlen1');
                $('.khungdn').show();
            });
        $('#cancel').click(function(){
            $('.den').toggleClass('hienlen1');
            $('.khungdn').hide();
        });
        $('.den').click(function () {
            $('.den').toggleClass('hienlen1');
            $('.khungdn').hide();
        });

    });
</script>


