
<a href="phanhoi.html"><button type="button" class="btn btn-success hidden-sm hidden-xs" style="position: absolute; right: 14px;">Phản Hồi|Góp Ý</button></a>



    <div id ="mini-menu"class="container hidden-lg hidden-md" style="margin:auto">

        <ul class="nav nav-tabs ">
            <li class="dropdown mega-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-list"></span>

                </a>
                <ul class="dropdown-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="chude.html">Chủ Đề</a></li>
                    <li><a>BXH</a>
                        <ul class="dropdown" style="margin-left: 20px">
                            <li><a href="BXH.html">Bài Hát</a></li>
                            <li><a href="BXH-video.html">Video</a></li>
                            <li><a href="BXH-album.html">Album</a></li>
                        </ul>
                    </li>
                    <li><a href="Nghesi.html">Nghệ Sĩ</a></li>
                    <li><a href="tintuc.html">Tin tức</a></li>
                </ul>
            </li>
            <li><a  href="baiHat.html"> Bài Hát</a></li>

            <li><a href="playlist.html">Playlist</a></li>
            <li><a  href="indexVideo.html">Video</a></li>

        </ul>

   </div>
<div class="container hidden-xs hidden-sm">
    <ul class="nav nav-tabs container" id="mega-menu">
    <li class=""><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="dropdown ">
        <a  class="dropdown-toggle disabled"href="chude.html" data-toggle="dropdown">Chủ Đề </a>
        <ul class="dropdown-menu mega-dropdown container-fluid">
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Hàng Tháng</h4>
                <ul class="container-fluid">

                    <li><a href="../chude.html">Top Tháng Này</a></li>
                    <li><a href="#">Nhạc Remix</a></li>
                    <li><a href="#">Nhạc Phim</a></li>
                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Hàng Tuần</h4>
                <ul class="container-fluid">

                    <li><a href="#">Nhạc Hot Việt Nam</a></li>
                    <li><a href="#">Nhạc Hot Hàn Quốc</a></li>
                    <li><a href="#">Nhạc Hot Âu Mĩ</a></li>
                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Đặt Biệt</h4>
                <ul class="container-fluid">

                    <li><a href="#">Tin Tức Âm Nhạc</a></li>
                    <li><a href="#">Nhạc Tình Cảm</a></li>
                    <li><a href="#">Nhạc Cưới</a></li>
                </ul>
            </li>

        </ul>

    </li>
    <li class="dropdown ">
        <a class="dropdown-toggle disabled" href="playlist.html" data-toggle="dropdown">Playlist</a>
        <ul class="dropdown-menu mega-dropdown ">
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Việt Nam</h4>
                <ul class="container-fluid">

                    <li><a href="#">Playlist Mới</a></li>
                    <li><a href="#">Tiền Chiến</a></li>
                    <li><a href="#">Trữ Tình</a></li>
                    <li><a href="#">Thiếu Nhi</a></li>
                    <li><a href="#">Nhạc Phim Hay</a></li>
                    <li><a href="#">Rap Việt</a></li>
                    <li><a href="#">Rock Việt</a></li>
                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Châu Á</h4>
                <ul class="container-fluid">

                    <li><a href="#">Nhạc Trẻ</a></li>
                    <li><a href="#">Hàn Quốc</a></li>
                    <li><a href="#">Hoa Ngữ</a></li>
                    <li><a href="#">Nhật</a></li>
                    <li><a href="#">Thái Lan</a></li>

                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Đặt Biệt</h4>
                <ul class="container-fluid">

                    <li><a href="#">Âu Mỹ</a></li>
                    <li><a href="#">Không Lời</a></li>

                    <li><a href="#">Nhạc Trịnh</a></li>
                    <li><a href="#">Thể Loại Khác</a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="indexVideo.html">Video</a>
        <ul class="dropdown-menu mega-dropdown ">
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Việt Nam</h4>
                <ul class="container-fluid">

                    <li><a href="#">Nhạc Trẻ</a></li>
                    <li><a href="#">Nhạc Trữ Tình</a></li>
                    <li><a href="#">Dance Việt</a></li>
                    <li><a href="#">Dance Việt</a></li>
                    <li><a href="#">Rock Việt</a></li>
                    <li><a href="#">Rap/Hip Hop Việt</a></li>
                    <li><a href="#">Nhạc Trịnh</a></li>
                    <li><a href="#">Nhạc Thiếu Nhi</a></li>
                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Châu Á</h4>
                <ul class="container-fluid">

                    <li><a href="#">Hàn Quốc</a></li>
                    <li><a href="#">Nhật Bản</a></li>
                    <li><a href="#">Hoa Ngữ</a></li>
                    <li><a href="#">THái Lan</a></li>

                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Đặt Biệt</h4>
                <ul class="container-fluid">

                    <li><a href="#">Âu Mĩ</a></li>
                    <li><a href="#">Hòa Tấu</a></li>
                    <li><a href="#">Thể loại khác</a></li>
                </ul>
            </li>

        </ul>
    </li>

    <li class="dropdown">
        <a href="baiHat.html">Bài Hát</a>
        <ul class="dropdown-menu mega-dropdown ">
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Việt Nam</h4>
                <ul class="container-fluid">

                    <li><a href="#">Nhạc Trẻ</a></li>
                    <li><a href="#">Nhạc Trữ Tình</a></li>
                    <li><a href="#">Dance Việt</a></li>
                    <li><a href="#">Dance Việt</a></li>
                    <li><a href="#">Rock Việt</a></li>
                    <li><a href="#">Rap/Hip Hop Việt</a></li>
                    <li><a href="#">Nhạc Trịnh</a></li>
                    <li><a href="#">Nhạc Thiếu Nhi</a></li>
                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Châu Á</h4>
                <ul class="container-fluid">

                    <li><a href="#">Hàn Quốc</a></li>
                    <li><a href="#">Nhật Bản</a></li>
                    <li><a href="#">Hoa Ngữ</a></li>
                    <li><a href="#">THái Lan</a></li>

                </ul>
            </li>
            <li class="col-xs-4 ">
                <h4 style="margin-left: 15px">Đặt Biệt</h4>
                <ul class="container-fluid">

                    <li><a href="#">Âu Mĩ</a></li>
                    <li><a href="#">Hòa Tấu</a></li>
                    <li><a href="#">Thể loại khác</a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="BXH.html">BXH</a>
        <ul class="dropdown-menu mega-dropdown ">
            <li class="col-md-4">
                <h4 style="margin-left: 15px">Việt Nam</h4>
                <ul class="container-fluid">

                    <li><a href="playlist-BXHbhvn.html">Bài Hát</a></li>
                    <li><a href="BXH-video.html">Video</a></li>
                    <li><a href="BXH-album.html">Album</a></li>

                </ul>
            </li>
            <li class="col-md-4">
                <h4 style="margin-left: 15px">Hàn Quốc</h4>
                <ul class="container-fluid">

                    <li><a href="playlist-BXHbhhp.html">Bài Hát</a></li>
                    <li><a href="BXH-video.html">Video</a></li>
                    <li><a href="BXH-album.html">Album</a></li>

                </ul>
            </li>
            <li class="col-md-4">
                <h4 style="margin-left: 15px">Âu Mỹ</h4>
                <ul class="container-fluid">

                    <li><a href="playlist-BXHbhaumy.html">Bài Hát</a></li>
                    <li><a href="BXH-video.html">Video</a></li>
                    <li><a href="BXH-album.html">Album</a></li>

                </ul>
            </li>


        </ul>

    </li>
    <li class="dropdown">
        <a href="#">Nghệ Sĩ</a>
    </li>
    <li class="dropdown">
        <a href="#">Tin Tức</a>
    </li>
</ul>
    </div>
<script>
    $(document).ready(function(){

            $("#mega-menu > li").bind('mouseenter',function(){
                $(this).find('.mega-dropdown').slideDown(500);

            }).bind('mouseleave',function(){
                $(this).find('.mega-dropdown').hide();
            });


        var url = window.location;


        $('ul.nav a[href="'+ url +'"]').parents().addClass('active');
       $('ul.nav a').filter(function() {
            return this.href == url;
        }).parents().addClass('active');
    });
</script>
<div id="btn-goto-top" style="-ms-border-radius: 30px;z-index:30 ; border-radius: 30px; position: fixed !important; right: 10px; bottom: 10px; display: none; cursor: pointer" class="scrollToTop btn btn-success btn-lg">
    <span class="glyphicon glyphicon-arrow-up"></span>
</div>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() >= 200) {
            $("#btn-goto-top").show(500);
        }
        else {
            $("#btn-goto-top").hide(500);
        }
    });
    //Click event to scroll to top
    $('.scrollToTop').click(function () {
        $('html, body').animate({ scrollTop: 0 }, 800);
        return false;
    });
</script>