<button type="button" class="btn btn-info hidden-sm hidden-xs" style="position: absolute; right: 14px;">Phản Hồi|Góp Ý</button>
<div class="container hidden-xs hidden-sm">

    <ul class="nav nav-tabs " id="mega-menu">
        <li class="active"><a data-toggle="tab" href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class=" mega-menu"data-toggle="dropdown"><a data-toggle="tab" href="#menu1">Chủ Đề</a>
            <ul class="dropdown-menu mega-dropdown "style="display: none">
                <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
                <li class="col-xs-4 "><a href="#">BXH</a></li>
                <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

            </ul>
        </li>
        <li class=" mega-menu"data-toggle="dropdown"><a data-toggle="tab" href="#menu2">Playlist</a>
            <ul class="dropdown-menu mega-dropdown "style="display: none">
                <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
                <li class="col-xs-4 "><a href="#">BXH</a></li>
                <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

            </ul>
        </li>
        <li class=" mega-menu "data-toggle="dropdown"><a data-toggle="tab" href="#menu3">Video</a>
            <ul class="dropdown-menu mega-dropdown "style="display: none">
                <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
                <li class="col-xs-4 "><a href="#">BXH</a></li>
                <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

            </ul>
        </li>
        <li class=" mega-menu "><a data-toggle="tab" href="#menu1">Bài Hát</a>
            <ul class="dropdown-menu mega-dropdown "style="display: none">
                <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
                <li class="col-xs-4 "><a href="#">BXH</a></li>
                <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

            </ul>
        </li>
        <li class=" mega-menu "><a data-toggle="tab" href="#menu2">BXH</a>
            <ul class="dropdown-menu mega-dropdown "style="display: none">
                <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
                <li class="col-xs-4 "><a href="#">BXH</a></li>
                <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

            </ul>
        </li>
        <li class=" mega-menu "><a data-toggle="tab" href="#menu3">Nghệ Sĩ</a><ul class="dropdown-menu mega-dropdown "style="display: none">
            <li class="col-xs-4 "><a href="#">Chủ Đề</a></li>
            <li class="col-xs-4 "><a href="#">BXH</a></li>
            <li class="col-xs-4 "><a href="#">Nghệ Sĩ</a></li>

        </ul>
        </li>
        <li class=" mega-menu "><a data-toggle="tab" href="#menu3">Tin Tức</a></li>

    </ul>

</div>
    <div class="container hidden-lg hidden-md " style="margin:auto">

        <ul class="nav nav-tabs ">
            <li class="dropdown mega-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-list"></span>

                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Chủ Đề</a></li>
                    <li><a href="#">BXH</a></li>
                    <li><a href="#">Nghệ Sĩ</a></li>
                    <li><a href="#">Tin tức</a></li>
                </ul>
            </li>
            <li class="active"><a data-toggle="tab" href="#home"> Bài Hát</a></li>

            <li><a data-toggle="tab" href="#menu2">Playlist</a></li>
            <li><a data-toggle="tab" href="#menu3">Video</a></li>

        </ul>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
   </div>
<script>

    $(function(){
        $("#mega-menu > li").bind('mouseenter',function(){
            $(this).find('.mega-dropdown').slideToggle(500);

        }).bind('mouseleave',function(){
            $(this).find('.mega-dropdown').hide();
        });
    });

</script>
