<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="listContainer" class="playlistContainer">
    <ul id="playListContainer">
        <li data-src="https://storage.googleapis.com/9lessonsdemos/songs/Everything%20But%20Mine.mp3">
            <a href="#">
                BSB - Everything But Mine
            </a>
        </li>
        <li data-src="https://storage.googleapis.com/9lessonsdemos/songs/Linkin%20Park%20-%20Numb.mp3" class="">
            <a href="#">
                Linkin Park - Numb
            </a>
        </li>
        <li data-src="https://storage.googleapis.com/9lessonsdemos/songs/love-the-way-you-lie-rihanna-feat-eminem.mp3" class="activeAudio">
            <a href="#">
                Eminem - Love The Way You
            </a>
        </li>
        <li data-src="https://storage.googleapis.com/9lessonsdemos/songs/rolling-in-the-deep-adele.mp3" class="">
            <a href="#">
                Adele - Rolling In The Deep
            </a>
        </li>
        <li data-src="https://storage.googleapis.com/9lessonsdemos/songs/when-i-was-your-man-bruno-mars.mp3" class="">
            <a href="#">
                Bruno - When I Was Your Man
            </a>
        </li>
    </ul>
</div>
</body>
</html>