.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    background-color: rgb(190, 190, 190);
}
.mega-dropdown{
    width: 600px;
    border: white thin solid;
}
.mega-dropdown > li > ul{
    list-style-type: circle;

}
.mega-dropdown a:hover{
   text-decoration: none;


}
#BXH > li{
    height: 100px;

}
.sodb{
    font-size: 18pt;
    margin-top: 20px;
    position: relative;
    left:5px;
    float: left;

}
#BXH img{
    width: 82px;
    height: 82px;
}
.img-bxh{
    width: 120px;
    height: 120px;
}
.td-bxh{
    height: 50px;
}
.show{
    height: 700px;
}
a:hover{
    text-decoration: none;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 2.15px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #138c20;
    border-radius: 1.3px;
    border: 0.2px solid #0b0101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1.4px solid #000000;
    height: 11px;
    width: 6px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #16a225;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #138c20;
    border-radius: 1.3px;
    border: 0.2px solid #0b0101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1.4px solid #000000;
    height: 11px;
    width: 6px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 6.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #10761b;
    border: 0.2px solid #0b0101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #138c20;
    border: 0.2px solid #0b0101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1.4px solid #000000;
    height: 11px;
    width: 6px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 6.7px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #138c20;
}
input[type=range]:focus::-ms-fill-upper {
    background: #16a225;
}

.icon{
    height: 27px;
}
.myButton {
    background-color:#000000;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    border:2px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:2px 7px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2f6627;
}
.myButton:hover {
    background-color:#000000;
}
.myButton:active {
    position:relative;
    top:1px;
}
.namesong{
    white-space: nowrap;
    max-width: 172px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 18px;
}
.namesong a{
    white-space: nowrap;
}
.mark{

    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
    position: absolute;
    top: 0;
    z-index: 11;
    left: 0;
    width: 100%;
    margin-left: 0;

}
.move{
    width: 100%;
    padding: 2px;
}
.namesong-bxh{
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 18px;
}
.namesong-bxh > a {
    color: #646464;
    font-size: 11pt;
    
}

.namesong-bxh > a:hover{
    color: red;;
   font-size: 110%;
}
.namesong-bxh > a:focus{
    text-decoration: none;
}

.control{
    color: white;


    height: 100%;
}
.control > span{
    font-size: 11pt;
}
.control:hover{
    color:#138c20 ;
}