.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
    background-color: rgb(190, 190, 190);
}
.mega-dropdown{
    width: 600px;
    border: white thin solid;
}
.mega-dropdown > li > ul{
    list-style-type: circle;

}
.mega-dropdown a:hover{
   text-decoration: none;


}
#BXH > li,#BXH-hanquoc > li,#BXH-aumy > li{
    height: 100px;

}
.sodb{
    font-size: 18pt;
    margin-top: 20px;
    position: relative;
    left:5px;
    float: left;
    color: #5d5d5d;
    /*position: relative;*/
    /*left: 5px;*/
    /*float: left;*/
    /*background-color: rgba(26, 124, 41, 0.88);*/
    /*color: white;*/
    /*height: 28px;*/
    /*width: 26px;*/
    /*border-radius: 58px;*/
    /*padding: 10px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/

}
#BXH img,#BXH-hanquoc  img, #BXH-aumy img{
    width: 82px;
    height: 82px;
}
.img-bxh{
    width: 120px;
    height: 120px;
}
.td-bxh{
    height: 50px;
}
.show{
    height: 700px;
}
a:hover{
    text-decoration: none;
}

.icon{
    height: 27px;
}
.myButton {
    background-color:#000000;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    border:2px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:2px 7px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2f6627;
}
.myButton:hover {
    background-color:#000000;
}
.myButton:active {
    position:relative;
    top:1px;
}
.namesong{
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 18px;
}
.namesong a{
    white-space: nowrap;
}
.mark{

    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
    position: absolute;
    top: 0;
    z-index: 11;
    left: 0;
    width: 100%;
    margin-left: 0;

}
.move{
    width: 100%;
    padding: 2px;
}
.namesong-bxh{
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 18px;
}
.namesong-bxh > a {
    color: #000000;
    font-size: 11pt;
    
}

.namesong-bxh > a:hover{
    color: red;;
   font-size: 110%;
}
.namesong-bxh > a:focus{
    text-decoration: none;
}

.controls{
    color: white;


    height: 100%;
}
.controls > span{
    font-size: 11pt;
}
.controls:hover{
    color:#138c20 ;
}

.clearfix {
    *zoom: 1; }

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }

.clearfix:after {
    clear: both; }
.control {
    padding: 5px;
}
.control input[type="range"] {
    -webkit-appearance: none;
    display: block;
    height: 10px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0; }
.control input[type="range"]:focus {
    outline: none; }
.control input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0; }
.control .time {
    height: 10px;
    margin-bottom: 15px;
    background-color: #cccccc;
    position: relative; }
.control .time .fill {
    width: 0%;
    background-color: #247234;
    height: 100%;
    transition: width 0.3s; }
.control div.clearfix {
    text-align: center; }

.control div.clearfix .volume {
    float: right;
    width: 40%;
    margin-top: 12px;
    background-color: #fff;
    position: relative;
    height: 5px; }
.control div.clearfix .volume #vol-fill {
    width: 50%;
    background-color: #2BB942;
    height: 100%; }
.control div.clearfix .volume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;

    background-color: rgb(0, 0, 0); }

/* FIX
------------------------------------------------------*/
.-moz- input[type="range"] {
    opacity: 0; }

.-ms- input[type="range"] {
    opacity: 0; }
audio::-webkit-slider-thumb{
    background-color: #138c20;
}
a{
    color: #000000;
    font-weight: 400;

}
a:hover{
     color: #138c20;
 }
a:focus{
    color: #138c20;
}
h1 a,h2 a,h3 a,h4 a{
    color: #138c20;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{
    color: #1fe934;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #138c20;
}
#show1{
    text-align:justify;
    padding-left: 70px;
}
.mega-dropdown li{
    margin: 10px 0px;
}
.nho{
    z-index: 16;
}
.den{
    top: 0;
    position: absolute;
    -webkit-transition: all ease 0.4s;
    z-index: 16;
    opacity: 0;
    visibility: hidden;
    left: 0;
}
.hienlen1{
    opacity: 1;
    visibility: visible;
}
.hienlen2{
    opacity: 1;
    visibility: visible;
}
.dangnhap{
    position: relative;

    -webkit-transition: all ease 0.4s;
    z-index: 20;
    height: 330px;


    border: solid 3px green;
    background-color: white;
}
.khungdn{
    margin-top: 10%;
    position: absolute;
    -webkit-transition: all ease 0.4s;

    z-index: 18;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}