.mega-dropdown{
    width: 600px;
    border: white thin solid;
}
.mega-dropdown > li > ul{
    list-style-type: circle;

}
.mega-dropdown a:hover{
   text-decoration: none;


}
#BXH > li{
    height: 100px;

}
.sodb{
    font-size: 18pt;
    margin-top: 20px;
    position: relative;
    left:5px;
    float: left;

}
#BXH img{
    width: 82px;
    height: 82px;
}
.img-bxh{
    width: 120px;
    height: 120px;
}
.td-bxh{
    height: 50px;
}
.show{
    height: 700px;
}
a:hover{
    text-decoration: none;
}