<div>
    <h2>
        <a style="float: left;margin-left: 40px;"href="#">BXH Album</a>
        <a href="#" style="margin-left: 20px"><span class="glyphicon glyphicon-play-circle"></span></a>
    </h2>
    <table class="table table-hover " style="width: 350px;">
        <thead>
        <tr>
            <th style="">
                <div  class=""style="height: 50px; margin-top: 15px;margin-left: 15px ">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#albumvn">Việt Nam</a></li>
                        <li><a data-toggle="pill" href="#albumhanquoc">Hàn Quốc</a></li>
                        <li><a data-toggle="pill" href="#menu2">Âu Mỹ</a></li>

                    </ul>
                </div>
            </th>

        </tr>
        </thead>
    </table>
    <div class="tab-content">
        <div  class="tab-pane fade in active"id="albumvn">
            <table class="table table-hover " style="width: 380px;">
                <tbody  id="BXHalbum-VN" ></tbody>
            </table>

        </div>


    </div>

</div>
<script>
    $(document).ready(function(){
        loadProducts3();
    });

    function loadProducts3() {
        var html = "";
        var t=1;
        // vòng lặp: duyệt qua từng phần tử trong mảng products
        $.each (albumvn, function(index, item) {
            var s = "";
            if(t==1){
                s+='<tr>';

                s+='<td>';

                s+='         <span style="margin-top: 45px" class="sodb">'+t+'</span>';
                s+='         <div style="width: 300px;height: 120px;margin-left: 30px">';

                s+='         <a style="float: left" href="'+item.url+'"><img class="img-bxh" src="'+ item.imgSrc+'"></a>';
                s+='         <table style="float:left;margin-left: 20px; margin-top: 10px;">';
                s+='                 <tr>';
                s+='                      <td><a title="'+item.title+'"href="'+item.url+'">'+item.title+'</a></td>';
                s+='                 </tr>';
                s+='                 <tr>';
                s+='                      <td><a title="'+item.name+'"href="'+item.url+'">'+item.name+'</a></td>';
                s+='                 </tr>';
                s+='                 <tr>';
                s+='                      <td><h6><span class="glyphicon glyphicon-headphones"></span>'+item.luotnghe+'</h6></td>';
                s+='                </tr>';

                s+='        </table>';}
            else {
                s+='<tr>';
                s+='<td>';

                s+='         <span style="margin-top: 8px;" class="sodb">'+t+'</span>';
                s+='         <div style="width: 300px;height: 10px;margin-left: 30px">';
                s+='         <table style="float:left;margin-left: 20px; margin-top: -5px; width: 300px">';
                s+='                 <tr>';
                s+='                      <td class="namesong"width="40%"><a title="'+item.title+'"href="'+item.url+'">'+item.title+'</a></td>';
                s+='                      <td  width="60%" style=" text-align:right;margin-left: 40px"><h6><span class="glyphicon glyphicon-headphones"></span>'+item.luotnghe+'</h6></td>';
                s+='                 </tr>';
                s+='                 <tr>';
                s+='                      <td class="namesong"><a title="'+item.name+'"href="'+item.url+'">'+item.name+'</a></td>';


                s+='                 </tr>';
                s+='        </table>';
            }
            s+='</div>';

            s+='</td>';
            s+='</tr>';
            if(t==11) return false;
            t++;
            html += s;
        });

        // Bỏ chuỗi html vào bên trong thẻ divProducts
        $("#BXHalbum-VN").html(html);
    }

</script>